<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block welcome %}{% endblock %}</title>
</head>
<body>
    <nav class="py-6 px-6 flex justify-between items-center vorder-b border-gray-200">
        <a href="/" class="text-xl font-semibold">Inv3ncion</a>
        <div class="space-x-6">
            <a href="{% url 'core:index' %}" class="text-lg font-semibold hover:text-gray-500" >Nuestros Cursos</a>
            <a href="{% url 'core:contact' %}" class="text-lg font-semibold hover:text-gray-500" >Sobre Nosotr@s</a>

        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <footer class="py-6 px-6 flex justify-between bg-gray-800">
        <div class="w-2/3 pr-10">
           <h3 class="mb-5 font-semibold text-gray-400">
            Sobre Nosotr@s
           </h3> 
           <p class="text-lg text-gray-500">
            Aprende algo nuevo este verano junto a Inv3ncion
           </p>
        </div>
    </footer>
</body>
</html>